:root {
  --title:#8C1919;
  --text:#262626;
  --muter: rgba(95, 95, 95, 1);
  --paragraph-font-family: "AgletSans-Regular", Helvetica;
  --paragraph-font-weight: 400;
  --paragraph-font-size: 20px;
  --paragraph-letter-spacing: 0px;
  --paragraph-line-height: normal;
  --paragraph-font-style: normal;
  --paragraph-bold-font-family: "AgletSans-Bold", Helvetica;
  --paragraph-bold-font-weight: 700;
  --paragraph-bold-font-size: 20px;
  --paragraph-bold-letter-spacing: 0px;
  --paragraph-bold-line-height: normal;
  --paragraph-bold-font-style: normal;
  --h1-light-font-family: "AgletSans-Light", Helvetica;
  --h1-light-font-weight: 300;
  --h1-light-font-size: 40px;
  --h1-light-letter-spacing: 0px;
  --h1-light-line-height: normal;
  --h1-light-font-style: normal;
  --h1-bold-font-family: "AgletSans-Bold", Helvetica;
  --h1-bold-font-weight: 700;
  --h1-bold-font-size: 40px;
  --h1-bold-letter-spacing: 0px;
  --h1-bold-line-height: normal;
  --h1-bold-font-style: normal;
  --lead-light-font-family: "AgletSans-Light", Helvetica;
  --lead-light-font-weight: 300;
  --lead-light-font-size: 18px;
  --lead-light-letter-spacing: 0px;
  --lead-light-line-height: normal;
  --lead-light-font-style: normal;
  --h2-bold-font-family: "AgletSans-Bold", Helvetica;
  --h2-bold-font-weight: 700;
  --h2-bold-font-size: 36px;
  --h2-bold-letter-spacing: 0px;
  --h2-bold-line-height: normal;
  --h2-bold-font-style: normal;
  --paragraph-bold-link-font-family: "AgletSans-Bold", Helvetica;
  --paragraph-bold-link-font-weight: 700;
  --paragraph-bold-link-font-size: 20px;
  --paragraph-bold-link-letter-spacing: 0px;
  --paragraph-bold-link-line-height: normal;
  --paragraph-bold-link-font-style: normal;
  --h3-bold-font-family: "AgletSans-Bold", Helvetica;
  --h3-bold-font-weight: 700;
  --h3-bold-font-size: 32px;
  --h3-bold-letter-spacing: 0px;
  --h3-bold-line-height: normal;
  --h3-bold-font-style: normal;
}
